.form {
  display: flex;
  flex-direction: column;

  & input {
    @include font("body");
    height: 40px;
    width: 200px;
    padding-left: $spacing-sm;
    background-color: rgba($color-grey, 0.5);

    &:not(:first-of-type) {
      margin-top: $spacing-xs;
    }
  }

  & button {
    @include font("body");
    width: 100%;
    height: 40px;
    margin-top: $spacing-sm;
    border: 1px solid $color-grey;
  }
}