{% extends '_layout.twig' %}

{% block content %}
  <p>
    Hello, {{ name }}. Your email address is: {{ email }}
  </p>

  {% if linkList %}
    <ul>
      {% for link in linkList %}
        <li>
          <a href="{{ link.url }}">
            {{ link.copy }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}  