{% extends '_layout.twig' %}

{% block content %}
  {% if user is not empty %}
    <p>      
      User Name: {{ user.name }}
    </p>
  {% else %}
    <a href="/login">
      Login to view stuff
    </a>
  {% endif %}
{% endblock %}  